{{!-- Creating page to view specific job --}}
<div id="job-view-container" class="container">
    <div class="row text-center">
        <a href="/" class="back-link main-color">Return</a>
        <div id="img-container" class="colmd-12">
            <img src="img/company.svg" alt="Company">
        </div>
        <div class="col-md-12">
            <h1 class="main-color">{{job.dataValues.title}}</h1>
            <p class="bold">Who are they looking for: </p>
            <p class="job-desk">{{job.dataValues.description}}</p>
            <p><span class="bold"> The salary is: </span>${{job.dataValues.salary}}</p>
            <p>For work in <span class="bold main-color">{{job.dataValues.company}}
            </span> send a e-mail to 
            <a class='main-color' href="mail:to{{job.dataValues.email}}">{{job.dataValues.email}}</a>
            </p>
            
        </div>
    </div>
</div>